---
import { SEO } from 'astro-seo';
import cssGlobal from '~/assets/styles/global.scss?url';
import BasicScript from '~/components/global/BasicScript.astro';
import 'src/assets/styles/libs/swiper.css';

interface Props {
  title: string;
  description: string;
  open_graph: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const { title, description, open_graph } = Astro.props;
const resolvedImageWithDomain = new URL(open_graph, Astro.site).toString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/Favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: '@valentin_cheval',
        site: 'valentin_cheval',
        card: 'summary_large_image',
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: title,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: 'Valentin Cheval Portfolio OpenGraph',
        },
      }}
    />
    <link rel="stylesheet" href={cssGlobal} />
    <link
      rel="preload"
      href="/fonts/HelveticaNeue-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/HelveticaNeue-Roman.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/HelveticaNeue-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/fonts/MatterRegular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/MatterMedium.woff2" as="font" type="font/woff2" crossorigin />
    <link
      rel="preload"
      href="/fonts/MatterSemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/fonts/MatterBold.woff2" as="font" type="font/woff2" crossorigin />

    <script>
      import mixpanel from 'mixpanel-browser';

      mixpanel.init('aff83c5ae4e1ceff6b5f567db3069441', {
        debug: true,
        track_pageview: true,
        persistence: 'localStorage',
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper-inner">
        <slot />
      </div>
    </div>
    <BasicScript />
  </body>
</html>
